.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
}

#root {
  flex: 1;
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header, .flex-container, footer {
  display: flex;
  align-items: center;
  background-color:#007ACC;
  color: #FFFFFF;
}

.logo-and-title {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  cursor: pointer;
}

.title {
  font-size: 45px;
  margin: 1rem 0.5rem;
}

.block {
  padding: 2rem
}

.big-nav {
  display: none;
}

nav {
  flex: 1;
  height: 100%;
}

nav ul {
  margin: 0;
  height: inherit;
  display: flex;
  align-items: center;
}

nav li {
  display: inline;
  font-size: 18px;
  padding: 1rem 2rem;
  cursor: pointer;
}

nav li:hover {
  background-color: rgb(0 63 105);
}

li {
  font-size: 1.25rem;
}


button {
  margin: 1rem;
  padding: 0.75rem 2rem;
  font-size: .75rem;
  color:#007ACC;
  border-radius: 10px;
  border: #FFFFFF;
  cursor: pointer;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing-section {
  padding: 2rem 3rem;
  align-items: center;
  justify-content: space-between;
}

.landing-section:nth-child(odd) {
  background-color: #3F4756;
}

.landing-section:last-child {
  flex: 1;
}

.landing-section img {
  width: 500px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

footer {
  padding: 0 1rem;
}

footer p {
  font-size: 0.75rem;
}

@media (min-width: 1110px) {
  .landing-section img {
    width: 650px;
  }

  .big-nav {
    display: contents;
  }
}

@media (min-width: 875px) {
  button {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.25rem;
  }
}
