.hidden {
	display: none;
}

.temp-input {
	background-color: #21252b;
	color: white;
	font-size: 1rem;
	width: 100%;
	height: fit-content;
	padding: 0.25rem 0.5rem;
}

.blurred {
	background-color: #292e36;
	color: #999999;
	z-index: 0;
}

.focused-input-item {
	backdrop-filter: blur(2px);
	background-color: black;
	z-index: 5;
}
