.logo-and-title {
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
	cursor: pointer;
}

.logo {
	width: 65px;
}

.title {
	font-size: 45px;
	margin: 1rem 0.5rem;
}

.block {
	padding: 2rem;
}

.big-nav {
	display: none;
}

.landing-nav {
	flex: 1;
	height: 100%;
}

.landing-nav ul {
	margin: 0;
	height: inherit;
	display: flex;
	align-items: center;
}

.landing-nav li {
	display: inline;
	font-size: 1rem;
	padding: 1rem 2rem;
	cursor: pointer;
}

.landing-section {
	align-items: center;
	justify-content: space-between;
}

.landing-section:nth-child(odd) {
	background-color: #3f4756;
}

.landing-section:nth-child(odd) .row1,
.landing-section:nth-child(even) .row2 {
	padding: 3rem 2rem;
}

.landing-section:last-child {
	flex: 1;
}

.landing-section-img {
	width: 500px;
}

.about-img {
	width: 300px;
	margin: 1rem;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.landing-section img {
	display: none;
}

@media (min-width: 1110px) {
	.landing-section-img {
		width: 650px;
	}
	.about-img {
		width: 450px;
		margin: 0;
	}

	.big-nav {
		display: contents;
	}
}

@media (min-width: 875px) {
	button {
		font-size: 1rem;
		padding: 0.75rem 2rem;
	}

	h1 {
		font-size: 2rem;
	}

	p {
		font-size: 1.25rem;
	}
	.landing-nav li {
		font-size: 1.1rem;
	}
	.logo {
		width: 175px;
	}
}

@media (min-width: 700px) {
	.landing-section img {
		display: block;
	}

	.logo-and-title {
		padding: 0 2rem;
	}
}
