html {
    font-family: SF Pro Display;
    background-color: #007ACC;
}

.Login {
    display: flex;
    flex-direction: column;

    // to make this sit centered
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    padding: 0.2em;

    background-color: white;
}

.Login .header {
    color: #007ACC;
    font-size: 2em;
    text-align: center;
}

.input-fields {
    display: flex;
    flex-direction: column;   
}

.input-fields input {
    margin: 0.2em;
    background-color: #E6E6E6;
    border: 0.1em solid #828282;
    border-radius: 2%;

    margin-left: 1em;
    margin-right: 1em;

    padding: 0.5em;
}

button {
    margin: auto;
    width: fit-content;

    margin-top: 1.5em;
    margin-bottom: 1.5em;

    padding: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    border: #FFFFFF;
    border-radius: 5%;
    background-color: #007ACC;
    color: #FFFFFF;
    cursor: pointer;
}

.remember-me-and-forgot-pw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remember-me-and-forgot-pw div {
    font-size: small;
    text-align: center;
}