.js {
	background-color: #ffdc7e;
}

.rb {
	background-color: #f37a6f;
}

.py {
	background-color: #7da7d9;
}

.cpp {
	background-color: #acd589;
}

.kt {
	background-color: #9d86be;
}

.go {
	background-color: #4ec6de;
}

.java {
	background-color: #fec578;
}

.txt {
	background-color: #e7bad7;
}
