.file-container {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

input {
	height: fit-content;
	font-size: 1rem;
	padding: 0.75rem;
	border-radius: 0.5rem;
	flex: 1;
}

header > button {
	margin-left: 10rem;
}

header form > button {
	flex-basis: 10rem;
	margin-left: 1.5rem;
}

header form {
	flex: 1;
	display: flex;
	align-items: center;
}

.file-card {
	border: 1.5px solid #ffffff;
	border-radius: 0.4rem;
	margin: 0.5em 1em 0 0;
	background-color: white;
	width: 10rem;
	height: 10rem;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	-moz-box-pack: justify;
	overflow: hidden;
	cursor: pointer;
}

.recent-file {
	width: 25rem;
	height: 18.5rem;
}

.files-nav {
	flex-basis: 12.5rem;
	padding: 0;
	margin-right: 1.5rem;
	background-color: #0062a3;
	height: 100%;
}

.files-nav li {
	padding: 1rem;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: left;
	align-items: center;
}

.files-nav img {
	margin-right: 0.5rem;
}

.files-nav a {
	color: white;
}

.inner-file-container {
	flex: 1;
	margin-right: 1.5rem;
	margin-bottom: 1rem;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.createFile-and-filter-container {
	text-align: right;
}

.outer-file-container {
	justify-content: left;
	align-items: flex-start;
	flex: 1;
}

.empty-img-container {
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.empty-img-container > img {
	height: 293px;
}

.file-card-img-container {
	border: 1.5px solid #ffffff;
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	width: 100%;
	height: 7.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recent-file .file-card-img-container {
	height: 15.5rem;
}

.file-card-name {
	width: 100%;
	background-color: white;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.file-card-name p {
	color: #007acc;
	font-weight: bold;
	font-size: 1rem;
	margin: 0;
}

.recent-file .file-card-name {
	flex-direction: column;
	padding: 0.75rem 1rem;
	align-items: flex-start;
}

.recent-file .file-card-name p:first-child {
	font-size: 1.25rem;
	margin-bottom: 0.25rem;
}

.recent-file .file-card-name p:last-child {
	font-weight: 400;
	color: black;
}

.file-card:hover {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 4px rgba(0, 0, 0, 0.23);
}
