.div {
	font-size: 0.5rem;
}

.card-creation-container {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;

	// to make this shit centered
	position: fixed;
	top: 30%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, 10%);

	border-radius: 5%;
	width: 25rem;
	padding: 0.5rem;
}

.card-creation-container input {
	margin: 0.2em;
	background-color: #e6e6e6;
	border: 0.1em solid #828282;
	border-radius: 5%;

	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: -0.1em;

	padding: 0.5em;
}

.card-creation-label {
	text-align: left;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
	margin-top: 1rem;
}

.extension-icons-container {
	display: flex;
	justify-content: space-between;
}

.extension-icon-outer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.extension-icon {
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.extension-icon img {
	width: 60%;
	max-height: 60%;
}

.extension-icon:hover {
	cursor: pointer;
}
