.file-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.file-card {
	border: 0.1em solid #ffffff;
	border-radius: 5%;
	margin: 0.2em;
	background-color: #ffffff;
	width: 10rem;
	height: 10rem;
}

.file-card-name {
	color: #007acc;
}
